<h1  ng-init=" $root.title='{% trans %}article.list{% endtrans %}' ">{% trans %}article.list{% endtrans %}</h1>
<div ng-show="loading">
    Loading
</div>
<div  ng-hide="loading">  
   
    {{ form(form) }} 
</div>