Page Category
Data:{{"{{data}}"}}
<div ng-show="loading">
    Loading
</div>
<div  ng-hide="loading">

{{ form(form) }} 

<!--<select ng-model="data.ArticleUpdate.category" children-option="id as name in list.ArticleUpdate.category track by children" multiple> </select>
-->

            
</div>